body{
  background-color: #916d9c;
}
.welcomepage{
  display: flex;
  justify-content: center;
}
.welcomepage h1{
  color:#e9ebf0 ;
  font-size: 2.5rem;
  text-align: center;
}
.btn{
  background-color:#79279c ;
  border: none;
  color:#e9ebf0 ;
  padding: 15px 38px;
  text-decoration: none;
  border-radius:8px;
  font-size: 1rem;
}